html *{
    font-family: Arial, Verdana, sans-serif;
    background-color: aquamarine;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(222, 242, 241);
    margin: 16px;
    width: 300px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(222, 242, 241);
    margin: 16px;
    width: 300px;
}

.list,
.list > * {
    background-color: rgb(222, 242, 241);
    font-size: 18px;
    box-sizing: border-box;
}

.list{
    margin: 16px;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.list > *{
    display: inline-block;
}

.para {
    background-color: rgb(222, 242, 241);
    margin-left: 16px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
